.container {
  --details-column-width: 28rem;
  --explanation-column-width: 0px;
  --column-gap: 1em;
  height: 100vh;
  box-sizing: border-box;
  padding: 4px;
  display: grid;
  grid-template-columns: max-content minmax(0, 1fr) var(--details-column-width) var(--explanation-column-width);
  grid-template-rows: min-content 1fr min-content;
  grid-auto-flow: row;
  gap: var(--column-gap);
  transition: grid-template-columns 0.2s ease;
}

.container.step-explanation-open {
  --details-column-width: 0px;
  --explanation-column-width: 28rem;
}

.head {
  grid-area: 1 / 1 / 2 / 5;
}

.foot {
  grid-area: 3 / 1 / 4 / 5;
}
