.steps {
  grid-area: 2 / 1 / 3 / 2;
}

.steps-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.7rem;
  margin-bottom: 0.5rem;
}

li::marker {
  font-weight: 600;
  color: var(--text-color);
}

li:hover::marker {
  color: var(--accent-color);
}

.step-item {
  cursor: pointer;
}

.step-item:focus-visible {
  outline: 1px solid var(--accent-color);
  outline-offset: 2px;
}

.selected-step {
  color: var(--accent-color);
}

.selected-step::marker {
  color: var(--accent-color);
}
