@import "base.css";
@import "layout.css";
@import "steps.css";
@import "settings.css";
@import "map.css";
@import "details.css";

:root {
  font-family: Inter, sans-serif;
  font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */
  --bg-color: #fdfdfd;
  --text-color: #222222;
  --mute: #bbb;
  --accent-color: #9d60ff;

  --sea-fill: #79b8ff;
  --land-fill: #bdbdbd;
  --sea-edge: #2b71b7;
  --land-edge: #5f6d89;
  --coast-edge: #111111;

  --cell-stroke-width: 0;
  --edge-stroke-width: 2;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #1a1a1a;
    --text-color: #e0e0e0;
    --border-color: #444444;
  }
}

@supports (font-variation-settings: normal) {
  :root {
    font-family: InterVariable, sans-serif;
  }
}

body {
  margin: 0;
  height: 100vh;
  background-color: var(--bg-color);
  color: var(--text-color);
}

.accent-text {
  color: var(--accent-color);
}

.button-reset {
  cursor: pointer;
}

h1,
h2,
h3 {
  margin: 0;
  letter-spacing: -0.02em;
  font-weight: 500;
}

em {
  color: var(--accent-color);
  font-style: normal;
}
